body{
    text-align: center;
    background-image: url(mathsbackground.jpg);
}
.login_div1
	{
		background:#FF5722;
		
		float: none;
		border-radius: 15px;
        width: 500px;
	}
	.login_div2
	{
		background:#1E88E5;
		
		margin-left: 50px;
		border-radius: 15px;
        width: 500px;
	}
#screen2
    {
	text-align: center;
    }
#login_div2
	{
		background:#FF5722;
		
		margin-left: 50px;
		border-radius: 15px;
        width: 500px;
	}

#screen2{
	margin-top: 150px;

	}